/*Colors */
$headercolor:#FFF3F3;
$fontcolor: #FFFFFF;
$navbgc:#8E1616;
$footerbg: #171717;
$mainbgc:#CECECE;

/*Font*/
$fontb: 18pt;
$fontm: 13pt;
$fonts: 10pt;

/*header*/
header {
    background-color: $headercolor;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    figure {
        margin: 0px 15px;
    }

}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;

    .fonts {
        font-size: $fonts;
    }

    .fontm {
        font-size: $fontm;
    }

    .fontb {
        font-size: $fontb;
    }

    hr {
        color: grey;

    }
}

/* nav */
.topnav {
    background-color: $navbgc;
    text-decoration: none;
    margin: 0;
    width: 100%;
    line-height: 50px;

}

nav ul li a {

    text-decoration: none;
    color: $fontcolor;
    margin-right: 20px;


}

/* footer */

.botnav {
    text-decoration: none
}

footer {
    background-color: $footerbg;
    color: $fontcolor;
    margin: 0;
    padding-top: 10px;
}

.navlist {
    margin: 0;


    li {
        display: inline;
    }
}

.footertext {
    text-align: center;
    margin: 20px 0px 0px 0px;
    padding-bottom: 10px;
}

.footerimg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* content */
h1 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 250px 0px 0px 50px;
    color: $fontcolor;
    z-index: -1;
    font-weight: normal;
    font-size: 40pt;
}

.sectionone {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 0px;
    justify-content: space-around;

    figure {
        display: flex;
        margin: 0px;
        position: relative;
        margin: auto;
        min-width: 100%;

        img {
            min-width: 100%;
            z-index: -2;
        }

        figcaption {
            background-color: $mainbgc;
            position: absolute;
            bottom: 0;
            width: 100%;
            ;
            text-align: center;
            padding: 100px 0px 20px 0px;
            font-size: 18pt;

            span {
                font-size: 40pt;
            }

        }
    }
}
/* bottom */
.sectiontwo {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin: 50px auto;


    div {

        border-color: grey;
        box-shadow: 0px -3px 7px 2px;
        padding: 20px;
        min-width: 300px;

        ul {
            list-style: none;
            margin-left: -30px;

        }

        ul li:before {
            color: green;
            font-weight: 900;
            content: "✔️";
            margin-right: 10px;

        }

        li {
            font-size: 10pt;
            padding-left: 10px;
        }

        p {
            color: grey;
            font-size: 10pt;
        }

        span {
            font-size: 12pt;
            font-weight: bold;
            color: black;
        }

        h2 {
            font-size: 15pt;
            font-weight: normal;
            color: #5383b8;

            .h2span {
                font-size: 10pt;
                font-weight: normal;
                color: black;
            }
        }
    }
}

/* calculator */
.calculator {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 15%;
    margin-top: -100px;
    width: 70%;
    height: 880px;
    background-color: rgba(246, 246, 246, 0.8);
    border-radius: 1%;
    border: solid;

    .output {
        font-size: 25pt;
        color: green;
        margin-top: 50px;
    }

    .mainsection {
        display: flex;
        justify-content: space-around;
        margin: 100px 5%;
        top: 0;



    }


    h2 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 40pt;
        font-weight: normal;
    }

    .calc1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 300px;

        div {
            margin-right: 20px;
            margin-left: 7%;
            text-align: left;

            input {
                width: 267px;
                margin-bottom: 10px;
                height: 30px;
            }

            select {
                width: 275px;
                height: 36px;
                margin-bottom: 10px;
                padding: 1px 2px;
                font-size: 15pt;
            }

            p {
                margin: 0;
            }
        }

    }

    .calc2 {
        display: flex;

        flex-direction: column;
        width: 300px;

        div {
            margin-right: 20px;
            margin-left: 7%;
            text-align: left;

            input {
                width: 267px;
                margin-bottom: 10px;
                height: 30px;
            }

            p {
                margin: 0;
            }
        }

    }

    .button_calc {
        text-align: center;
        margin-top: 50px;

        button {
            background-color: green;
            border-radius: 12px;
            color: $fontcolor;
            border: 0;
            width: 300px;
            height: 50px;
            font-size: 25pt;

        }


    }
}

/*media*/

@media screen and (max-width:800px)
{
.calculator {
    height: 300px;

}

.sectiontwo {

    flex-wrap: wrap;
        div{
    margin-bottom: 30px;
    }
}
    .footerimg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
   .banner
    {
        display: none;
}
}

